<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dewei Webpage Repeater - {{title}}</title>
    <link rel="icon" type="image/png" href="https://deweiliu.com/images/favicon.png" />
    <meta name="theme-color" content="#40B1FA">
    <script type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--Load the header from the original site-->
    {% autoescape off %}
    {{head}}
    {% endautoescape %}

</head>

<body>
    <div class="w3-container">
        <h1><a href="/">Dewei Webpage Repeater</a></h1>
        {% block body %}
        {% endblock %}
    </div>

    {%include "repeater/components/copyright.html"%}

</body>

</html>