{% extends "repeater/components/component.html" %}

{% block header %}
<style>
    .separator {
        border: 3px solid #000;
        width: 100%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;

    }
</style>
{% endblock %}


{% block title %}
Webpage Content
{% endblock %}

{% block content %}
<p class="separator"></p>
<p style="text-align: center;">
    <strong>
        Please review our <a href="/#Terms & Conditions">Terms & Conditions</a>
         and OBEY THE LAW OF YOUR LOCAL AUTHORITY!
    </strong>
</p>
<p class="separator"></p>

<div>
    {% autoescape off %}
    {{body}}
    {% endautoescape %}
</div>
{% endblock %}