{% extends "repeater/components/component.html" %}
{% block title %}
Source Code
{% endblock %}
{% block content %}
<p>
    This is an open-source project available at
    <a href="https://github.com/deweiliu/dewei-webpage-repeater">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
            style="height:1em;">GitHub</a>.
</p>
<p>We welcome contributions to the source code in our repository.</p>
<p>Please feel free to inspect our source code if you have concern of the Privacy Policy.</p>
{% endblock %}