{% extends "repeater/components/component.html" %}
{% block title %}
Terms & Conditions
{% endblock %}
{% block content %}
<p>To use this service, you agree to the Terms & Conditions.</p>
<ul>
    <li>This free service is proviced "AS IS", without any gurantee and responsibility.</li>
    <li>This service simply copies the HTML webpage of the URL you provide, and re-displays it. It does not save any
        connection and cookies.</li>
    <li><strong>WE TAKE NO RESPONSIBILITY FOR THE CONTENT OF THE WEBPAGE YOU VISIT!</strong></li>
    <li>Please obey the law of your local authority when using this service.</li>
</ul>
{% endblock %}